@model IEnumerable<Entity_Layer.FacturaBO>

@{
    ViewBag.Title = "Listado de Facturas";
}

<h2>Listado de Facturas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUM_FACTURA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_CLIENTE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM_PAGO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_FACTURA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CLIENTE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_PAGO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new {NUM_FACTURA = item.NUM_FACTURA})
        </td>
    </tr>
}

</table>
